In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from gconfig import gkey

In [2]:
types_df = pd.read_csv("../Project1_GroupSix-/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [4]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "32.7766642,-96.79698789999999",  # dallas coords,
    "radius": 500000,
    "types": "restaurant",
    "keyword": "ethnicity",
    "key": gkey
}

# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Highest Rated {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Highest Rated chinese restaurant is Betty's Best Around.
------------
Retrieving Results for Index 1: cuban.
Highest Rated cuban restaurant is Havana Cafe-Mojito Bar.
------------
Retrieving Results for Index 2: czech.
Highest Rated czech restaurant is Four Czechs Bakery.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: french.
Highest Rated french restaurant is Edith's French Cafe.
------------
Retrieving Results for Index 4: german.
Highest Rated german restaurant is Bavarian Grill.
------------
Retrieving Results for Index 5: greek.
Highest Rated greek restaurant is Kostas Cafe.
------------
Retrieving Results for Index 6: haitian.
Highest Rated haitian restaurant is Taste Of Miami Restaurant & Catering.
Missing field/result... skipping.
------------
Retrieving Results for Index 7: hungarian.
Highest Rated hungarian restaurant is Armoury D.E..
------------
Retrieving Results for Index 8: indian.
Highest Rated indian restaurant is Roti Grill Restaurant.
------------
Retrieving Results for Index 9: indonesian.
Highest Rated indonesian restaurant is Secret Recipe.
------------
Retrieving Results for Index 10: irish.
Highest Rated irish restaurant is Trinity Hall Irish Pub & Restaurant.
------------
Retrieving Results for Index 11: israeli.
Highest Rated israeli restaurant is Food From Galilee.
------------
Retrieving Results for Index 12: italian.
Highest Rated italian restaurant is Campisi's.
------------
Retrieving Results for Index 13: japanese.
Highest Rated japanese restaurant is The Blue Fish Greenville.
------------
Retrieving Results for Index 14: jewish.
Highest Rated jewish restaurant is Aderet Grill and Salads.
------------
Retrieving Results for Index 15: korean.
Highest Rated korean restaurant is bbbop.
------------
Retrieving Results for Index 16: lebanese.
Highest Rated lebanese restaurant is Open Sesame Lebanese Grill.
------------
Retrieving Results for Index 17: mexican.
Highest Rated mexican restaurant is Desperados Mexican Restaurant.
------------
Retrieving Results for Index 18: new american.
Highest Rated new american restaurant is Gemma.
------------
Retrieving Results for Index 19: pakistani.
Highest Rated pakistani restaurant is 7 Spice Plano Indian & Pakistani Cuisine/ Carryout & Catering Only.
------------
Retrieving Results for Index 20: polish.
Highest Rated polish restaurant is Taste of Poland European Tavern.
------------
Retrieving Results for Index 21: russian.
Highest Rated russian restaurant is Russian Banya of Dallas.
------------
Retrieving Results for Index 22: scandinavian.
Missing field/result... skipping.
------------
Retrieving Results for Index 23: scottish.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: soul food.
Highest Rated soul food restaurant is Sweet Georgia Brown.
------------
Retrieving Results for Index 25: spanish.
Highest Rated spanish restaurant is Cafe Madrid.
------------
Retrieving Results for Index 26: thai.
Highest Rated thai restaurant is Bangkok Inn.
------------
Retrieving Results for Index 27: turkish.
Highest Rated turkish restaurant is Cafe Izmir.
------------
Retrieving Results for Index 28: ukrainian.
Highest Rated ukrainian restaurant is Russian Banya of Dallas.
------------
Retrieving Results for Index 29: vietnamese.
Highest Rated vietnamese restaurant is Vietnam Restaurant.
------------

In [5]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Betty's Best Around,"3607A Greenville Ave, Dallas",1,3.7
1,cuban,Havana Cafe-Mojito Bar,"1152 N Buckner Blvd, Dallas",2,4.4
2,czech,Four Czechs Bakery,"104 East Fate Main Place Suite A, Fate",,
3,french,Edith's French Cafe,"5331 E Mockingbird Ln #160, Dallas",2,4.2
4,german,Bavarian Grill,"221 W Parker Rd, Plano",2,4.5
5,greek,Kostas Cafe,"4914 Greenville Ave, Dallas",2,4.6
6,haitian,Taste Of Miami Restaurant & Catering,"205 S Main St #19-05, Red Oak",,
7,hungarian,Armoury D.E.,"2714 Elm St, Dallas",2,4.7
8,indian,Roti Grill Restaurant,"4438 McKinney Ave, Dallas",2,4.1
9,indonesian,Secret Recipe,"1404 W Hebron Pkwy #103, Carrollton",2,4.3
10,irish,Trinity Hall Irish Pub & Restaurant,"5321 E Mockingbird Ln #250, Dallas",2,4.5
11,israeli,Food From Galilee,"6710 Snider Plaza, Dallas",1,4.7
12,italian,Campisi's,"5610 E Mockingbird Ln, Dallas",2,4.4
13,japanese,The Blue Fish Greenville,"3519 Greenville Ave, Dallas",2,4.3
14,jewish,Aderet Grill and Salads,"13410 Preston Rd J, Dallas",2,4.6
15,korean,bbbop,"5323 Greenville Ave, Dallas",1,4.5
16,lebanese,Open Sesame Lebanese Grill,"2615 Oak Lawn Ave, Dallas",2,4.7
17,mexican,Desperados Mexican Restaurant,"4818 Greenville Ave, Dallas",2,4.4
18,new american,Gemma,"2323 N Henderson Ave #109, Dallas",2,4.7
19,pakistani,Mehran Restaurant & Catering,"1800 Valley View Ln, Irving",2,4.2
20,polish,Taste of Poland European Tavern,"2301 Central Expy #155, Plano",2,4.4
21,russian,Russian Banya of Dallas,"2515 E Rosemeade Pkwy #401, Carrollton",2,4.4
22,scandinavian,,,,
23,scottish,,,,
24,soul food,Sweet Georgia Brown,"2840 Ledbetter Dr, Dallas",2,4.4
25,spanish,Cafe Madrid,"4501 Travis St, Dallas",2,4.4
26,thai,Bangkok Inn,"6033 Oram St, Dallas",1,4.4
27,turkish,Cafe Izmir,"3711 Greenville Ave, Dallas",2,4.4
28,ukrainian,Russian Banya of Dallas,"2515 E Rosemeade Pkwy #401, Carrollton",2,4.4
29,vietnamese,Vietnam Restaurant,"4302 Bryan St, Dallas",1,4.4