In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from jconfig import gkey

In [2]:
types_df = pd.read_csv("../Project1_GroupSix-/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [4]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "31.7618778,-106.4850217",  # dallas coords,
    "radius": 500000,
    "types": "restaurant",
    "keyword": "ethnicity",
    "key": gkey
}

# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Highest Rated {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Highest Rated chinese restaurant is Sun Garden Chinese Bistro.
------------
Retrieving Results for Index 1: cuban.
Missing field/result... skipping.
------------
Retrieving Results for Index 2: czech.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: french.
Highest Rated french restaurant is Entrecôte & Co..
Missing field/result... skipping.
------------
Retrieving Results for Index 4: german.
Highest Rated german restaurant is Peter's German Grill & Bakery.
------------
Retrieving Results for Index 5: greek.
Highest Rated greek restaurant is Zino's Greek and Mediterranean Cuisine.
------------
Retrieving Results for Index 6: haitian.
Missing field/result... skipping.
------------
Retrieving Results for Index 7: hungarian.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: indian.
Highest Rated indian restaurant is India Palace.
------------
Retrieving Results for Index 9: indonesian.
Missing field/result... skipping.
------------
Retrieving Results for Index 10: irish.
Highest Rated irish restaurant is Leprechaun Irish Pub.
------------
Retrieving Results for Index 11: israeli.
Missing field/result... skipping.
------------
Retrieving Results for Index 12: italian.
Highest Rated italian restaurant is Trattoria Bella Sera.
------------
Retrieving Results for Index 13: japanese.
Highest Rated japanese restaurant is Riyoma Japanese Restaurant.
------------
Retrieving Results for Index 14: jewish.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: korean.
Highest Rated korean restaurant is Kalbi House.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: lebanese.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: mexican.
Highest Rated mexican restaurant is L & J Cafe.
------------
Retrieving Results for Index 18: new american.
Highest Rated new american restaurant is Park Tavern.
Missing field/result... skipping.
------------
Retrieving Results for Index 19: pakistani.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: polish.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
Missing field/result... skipping.
------------
Retrieving Results for Index 22: scandinavian.
Missing field/result... skipping.
------------
Retrieving Results for Index 23: scottish.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: soul food.
Highest Rated soul food restaurant is Southern Comfort Cafe.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: spanish.
Missing field/result... skipping.
------------
Retrieving Results for Index 26: thai.
Highest Rated thai restaurant is Tara Thai Kitchen.
------------
Retrieving Results for Index 27: turkish.
Highest Rated turkish restaurant is Halal Turkish restaurant KEBAB FOREVER.
Missing field/result... skipping.
------------
Retrieving Results for Index 28: ukrainian.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: vietnamese.
Highest Rated vietnamese restaurant is Việt Restaurant.
Missing field/result... skipping.
------------

In [5]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Sun Garden Chinese Bistro,"6600 N Mesa St # 501, El Paso",1,4.4
1,cuban,,,,
2,czech,,,,
3,french,Entrecôte & Co.,"5825 N Mesa St, El Paso",,
4,german,Peter's German Grill & Bakery,"255 Shadow Mountain Dr, El Paso",1,4.7
5,greek,Zino's Greek and Mediterranean Cuisine,"7040 N Mesa St, El Paso",2,4.6
6,haitian,,,,
7,hungarian,,,,
8,indian,India Palace,"5380 N Mesa St #116, El Paso",2,3.8
9,indonesian,,,,
10,irish,Leprechaun Irish Pub,"Blvd. Manuel Gómez Morín 7513, Rincones de San...",2,4.4
11,israeli,,,,
12,italian,Trattoria Bella Sera,"3512 N Yarbrough Dr, El Paso",2,4.5
13,japanese,Riyoma Japanese Restaurant,"2000 Lee Trevino Dr, El Paso",2,4.5
14,jewish,,,,
15,korean,Kalbi House,"5718 Dyer St, El Paso",,
16,lebanese,,,,
17,mexican,L & J Cafe,"3622 E Missouri Ave, El Paso",1,4.5
18,new american,Park Tavern,"204 E Mills Ave, El Paso",,
19,pakistani,,,,
20,polish,,,,
21,russian,,,,
22,scandinavian,,,,
23,scottish,,,,
24,soul food,Southern Comfort Cafe,"10630 Montwood Dr F, El Paso",,
25,spanish,,,,
26,thai,Tara Thai Kitchen,"2606 N Mesa St, El Paso",2,4.3
27,turkish,Halal Turkish restaurant KEBAB FOREVER,"3233 north Mesa 201, El Paso",,
28,ukrainian,,,,
29,vietnamese,Việt Restaurant,"1700 N Zaragoza Rd #107,108, El Paso",,

In [6]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
types_df.to_csv("ElPasoCuisineRating.csv", encoding="utf-8", index=False)