In [1]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
import requests
import gmaps
from uszipcode import SearchEngine, SimpleZipcode, Zipcode
from census import Census
from scipy.stats import sem

import warnings
warnings.filterwarnings('ignore')

In [3]:
#read in zip.csv
county_zip_df = pd.read_csv("CityCounty_zip_data.csv")
census_pd= pd.read_csv("CityCounty_zip_data.csv")

In [8]:
# merge Zip DF with Census DF
zip_census_merge = pd.merge(county_zip_df,census_pd, on="Zip_Codes", suffixes=("County", "Census"))
zip_census_merge.head(10)

,CityCounty,Zip_Codes,LatCounty,LonCounty,CityCensus,LatCensus,LonCensus
0,Addison,75001,32.96,-96.84,Addison,32.96,-96.84
1,Allen,75002,33.08,-96.61,Allen,33.08,-96.61
2,Carrollton,75006,32.95,-96.89,Carrollton,32.95,-96.89
3,Carrollton,75007,33.00,-96.90,Carrollton,33.00,-96.90
4,Celina,75009,33.30,-96.80,Celina,33.30,-96.80
5,Carrollton,75010,33.03,-96.90,Carrollton,33.03,-96.90
6,Allen,75013,33.12,-96.69,Allen,33.12,-96.69
7,Coppell,75019,32.96,-96.98,Coppell,32.96,-96.98
8,Flower Mound,75022,33.03,-97.12,Flower Mound,33.03,-97.12
9,Plano,75023,33.05,-96.73,Plano,33.05,-96.73

In [ ]:
#getting the top ten household incomes
sorted_max = zip_census_merge.sort_values('Household Income', ascending=False)
max = sorted_max[0:10]
max

In [ ]:
# getting the ten lowest incomes 
sorted_min = zip_census_merge.sort_values('Household Income', ascending=True)
sorted_min.head(5)

In [ ]:
#dropping the first three rows for better data
new_sorted_min = sorted_min.iloc[3:]
new_sorted_min
min = new_sorted_min[0:10]
min

In [ ]:
max.head()

In [ ]:
max['Zip_Codes']

In [ ]:
users = max['Household Income']
x_axis = np.arange(len(users))
plt.bar(x_axis, users, color='teal', alpha=0.5, align="center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations,['77010', '77005', '75225', '77401', '77094', '75182', '75205', '77345', '77059', '77007'], rotation=45, ha='right')
plt.title("Top 10 Household Incomes By Zip Code", fontsize=18, fontweight='bold')
plt.xlabel("Zip Codes", fontsize=14)
plt.ylabel("Household Income", fontsize=14)
plt.show()

In [ ]:
s_max = max.sort_values('Population', ascending=False)
s_max.head(10)

In [ ]:
s_max['Zip_Codes']

In [ ]:
users = s_max['Population']
x_axis = np.arange(len(users))
plt.bar(x_axis, users, color='darkblue', alpha=0.5, align="center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations,['77007','77345','77005','75205','75225','77401','77059','77094','75182','77010'], rotation=45, ha='right')
plt.title("Population Density In Top Household Incomes", fontsize=18, fontweight='bold')
plt.xlabel("Zip Codes", fontsize=14)
plt.ylabel("Population Density", fontsize=14)
plt.show()

In [ ]:
#getting the top ten for population
sorted_population = zip_census_merge.sort_values('Population', ascending=False)
max = sorted_population[0:9]
max